<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>API Inbound Access threats</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>API Inbound Access threats</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-23fbd2c308ee4e5a8452b84603f370bc.png" alt="API Inbound Access threats" usemap="#id-23fbd2c308ee4e5a8452b84603f370bcmap"/>
			   <map name="id-23fbd2c308ee4e5a8452b84603f370bcmap">
				  		<area shape="rect" coords="574,298,694,353" href="../elements/id-62368b0876264e7d9a531bebd8485602.html"  target="element">
				  		<area shape="rect" coords="562,520,682,575" href="../elements/id-927dc829e9ba45b2908679df45fa2884.html"  target="element">
				  		<area shape="rect" coords="562,181,682,236" href="../elements/id-34fcca543dee46fca737da5cbcfaa32a.html"  target="element">
				  		<area shape="rect" coords="562,604,682,659" href="../elements/id-c55d08981f2c43daae09597e7abbf13a.html"  target="element">
				  		<area shape="rect" coords="574,418,694,473" href="../elements/id-9140e159138542a09e911d2bb35ec984.html"  target="element">
				  		<area shape="rect" coords="286,10,551,35" href="../elements/id-dd3509ac0527459d822d49985f8957bd.html"  target="element">
				  		<area shape="rect" coords="742,646,1007,677" href="../elements/id-643bfd1709884c4aa7f0d66cd07e30b0.html"  target="element">
				  		<area shape="rect" coords="742,574,1007,599" href="../elements/id-f09ae10c99004043811a8b2c4da5a49c.html"  target="element">
				  		<area shape="rect" coords="718,514,983,539" href="../elements/id-e51374557e954de286134401bdf9a8e4.html"  target="element">
				  		<area shape="rect" coords="754,433,1019,458" href="../elements/id-3db7d93c6f5c4f57aed7eee66f082081.html"  target="element">
				  		<area shape="rect" coords="790,370,1055,395" href="../elements/id-dada11acd5c743a390362713ee3a23d8.html"  target="element">
				  		<area shape="rect" coords="730,208,995,239" href="../elements/id-0e8bde2fef02429b9f757c9da13ee391.html"  target="element">
				  		<area shape="rect" coords="742,718,1007,743" href="../elements/id-ba26bd43bddc49c1aaa9c33b39033e00.html"  target="element">
				  		<area shape="rect" coords="766,298,1031,335" href="../elements/id-fa5f9556f5c244ec94aa24e5cc00d151.html"  target="element">
				  		<area shape="rect" coords="634,94,899,119" href="../elements/id-e704a209e29d40dbaa9cf52330e9f690.html"  target="element">
				  				<area shape="rect" coords="142,574,262,629" href="../elements/id-638fb0e00ab74421855bb0393627af16.html"  target="element">

				  		<area shape="rect" coords="10,502,467,719" href="../elements/id-ace1ea2f04a348e9a87b53971289b9af.html"  target="element">
				  				<area shape="rect" coords="334,328,454,383" href="../elements/id-09ce76274df64a4ca2ef2781c1b714e0.html"  target="element">
				  				<area shape="rect" coords="94,382,275,437" href="../elements/id-86ff397f03604dd9b10b8f336f771bf9.html"  target="element">
				  				<area shape="rect" coords="94,274,275,329" href="../elements/id-6faa71ba6a964d62ac9b574683077357.html"  target="element">

				  		<area shape="rect" coords="10,238,467,491" href="../elements/id-b0227fd63d86473fa09c8940ef850180.html"  target="element">
				  				<area shape="rect" coords="190,142,310,197" href="../elements/id-523fae110c1d4debb45e25c3d4b0c206.html"  target="element">

				  		<area shape="rect" coords="10,118,467,227" href="../elements/id-138d3675b6f541f1aa777d5ec63ea583.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-138d3675b6f541f1aa777d5ec63ea583.html" target="element"> External networks </a> </td>
											    <td> <a href="../elements/id-138d3675b6f541f1aa777d5ec63ea583.html" target="element" class="i18n-elementtype-CommunicationNetwork">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-523fae110c1d4debb45e25c3d4b0c206.html" target="element"> Client application </a> </td>
													    <td> <a href="../elements/id-523fae110c1d4debb45e25c3d4b0c206.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-b0227fd63d86473fa09c8940ef850180.html" target="element"> DMZ </a> </td>
											    <td> <a href="../elements/id-b0227fd63d86473fa09c8940ef850180.html" target="element" class="i18n-elementtype-CommunicationNetwork">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6faa71ba6a964d62ac9b574683077357.html" target="element"> WAF </a> </td>
													    <td> <a href="../elements/id-6faa71ba6a964d62ac9b574683077357.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-86ff397f03604dd9b10b8f336f771bf9.html" target="element"> API Gateway </a> </td>
													    <td> <a href="../elements/id-86ff397f03604dd9b10b8f336f771bf9.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-09ce76274df64a4ca2ef2781c1b714e0.html" target="element"> Token Service </a> </td>
													    <td> <a href="../elements/id-09ce76274df64a4ca2ef2781c1b714e0.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ace1ea2f04a348e9a87b53971289b9af.html" target="element"> Trusted zone (Backoffice) </a> </td>
											    <td> <a href="../elements/id-ace1ea2f04a348e9a87b53971289b9af.html" target="element" class="i18n-elementtype-CommunicationNetwork">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-638fb0e00ab74421855bb0393627af16.html" target="element"> API endpoint </a> </td>
													    <td> <a href="../elements/id-638fb0e00ab74421855bb0393627af16.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e704a209e29d40dbaa9cf52330e9f690.html" target="element"> AC-12: Session Termination </a> </td>
											    <td> <a href="../elements/id-e704a209e29d40dbaa9cf52330e9f690.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa5f9556f5c244ec94aa24e5cc00d151.html" target="element"> AC-4(25): Information Flow Enforcement | Data Sanitization </a> </td>
											    <td> <a href="../elements/id-fa5f9556f5c244ec94aa24e5cc00d151.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ba26bd43bddc49c1aaa9c33b39033e00.html" target="element"> SI-3: Malicious Code Protection </a> </td>
											    <td> <a href="../elements/id-ba26bd43bddc49c1aaa9c33b39033e00.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e8bde2fef02429b9f757c9da13ee391.html" target="element"> SC-5: Denial-of-service Protection </a> </td>
											    <td> <a href="../elements/id-0e8bde2fef02429b9f757c9da13ee391.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dada11acd5c743a390362713ee3a23d8.html" target="element"> CM-7: Least Functionality </a> </td>
											    <td> <a href="../elements/id-dada11acd5c743a390362713ee3a23d8.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3db7d93c6f5c4f57aed7eee66f082081.html" target="element"> AU-2: Event Logging </a> </td>
											    <td> <a href="../elements/id-3db7d93c6f5c4f57aed7eee66f082081.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e51374557e954de286134401bdf9a8e4.html" target="element"> AC-3: Access Enforcement </a> </td>
											    <td> <a href="../elements/id-e51374557e954de286134401bdf9a8e4.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f09ae10c99004043811a8b2c4da5a49c.html" target="element"> AC-4: Information Flow Enforcement </a> </td>
											    <td> <a href="../elements/id-f09ae10c99004043811a8b2c4da5a49c.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-643bfd1709884c4aa7f0d66cd07e30b0.html" target="element"> SI-10: Information Input Validation </a> </td>
											    <td> <a href="../elements/id-643bfd1709884c4aa7f0d66cd07e30b0.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd3509ac0527459d822d49985f8957bd.html" target="element"> SC-6: Resource Availability </a> </td>
											    <td> <a href="../elements/id-dd3509ac0527459d822d49985f8957bd.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9140e159138542a09e911d2bb35ec984.html" target="element"> Adversary in the Middle (AiTM) </a> </td>
											    <td> <a href="../elements/id-9140e159138542a09e911d2bb35ec984.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c55d08981f2c43daae09597e7abbf13a.html" target="element"> Command Injection </a> </td>
											    <td> <a href="../elements/id-c55d08981f2c43daae09597e7abbf13a.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-34fcca543dee46fca737da5cbcfaa32a.html" target="element"> Flooding </a> </td>
											    <td> <a href="../elements/id-34fcca543dee46fca737da5cbcfaa32a.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-927dc829e9ba45b2908679df45fa2884.html" target="element"> Input Data Manipulation </a> </td>
											    <td> <a href="../elements/id-927dc829e9ba45b2908679df45fa2884.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-62368b0876264e7d9a531bebd8485602.html" target="element"> Interception </a> </td>
											    <td> <a href="../elements/id-62368b0876264e7d9a531bebd8485602.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a3a1b0370f424aee9e9caebebc62740d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a3a1b0370f424aee9e9caebebc62740d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-138d3675b6f541f1aa777d5ec63ea583.html" target="element"> External networks </a> </td>
																		<td> <a href="../elements/id-523fae110c1d4debb45e25c3d4b0c206.html" target="element"> Client application </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-cfc8ac66a3f94a9fbf1694a8ca6ea0ab.html" target="element"> HTTPS (External token) </a> </td>
																				<td> <a href="../elements/id-cfc8ac66a3f94a9fbf1694a8ca6ea0ab.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-523fae110c1d4debb45e25c3d4b0c206.html" target="element"> Client application </a> </td>
																				<td> <a href="../elements/id-6faa71ba6a964d62ac9b574683077357.html" target="element"> WAF </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-72bc72dcebcf4b039d1a33d02719dd07.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72bc72dcebcf4b039d1a33d02719dd07.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b0227fd63d86473fa09c8940ef850180.html" target="element"> DMZ </a> </td>
																		<td> <a href="../elements/id-86ff397f03604dd9b10b8f336f771bf9.html" target="element"> API Gateway </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b2596a9aa2ee46b08154a727e33f5bd0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b2596a9aa2ee46b08154a727e33f5bd0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b0227fd63d86473fa09c8940ef850180.html" target="element"> DMZ </a> </td>
																		<td> <a href="../elements/id-09ce76274df64a4ca2ef2781c1b714e0.html" target="element"> Token Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-14869167d43f43878205e5bf8bbde9e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-14869167d43f43878205e5bf8bbde9e8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b0227fd63d86473fa09c8940ef850180.html" target="element"> DMZ </a> </td>
																		<td> <a href="../elements/id-6faa71ba6a964d62ac9b574683077357.html" target="element"> WAF </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-9078e9aa87c442a9b01ea46af7a67ef7.html" target="element"> HTTPS (External token) </a> </td>
																				<td> <a href="../elements/id-9078e9aa87c442a9b01ea46af7a67ef7.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6faa71ba6a964d62ac9b574683077357.html" target="element"> WAF </a> </td>
																				<td> <a href="../elements/id-86ff397f03604dd9b10b8f336f771bf9.html" target="element"> API Gateway </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0de1607b48fb4439bd0537a943579e48.html" target="element"> HTTPS (Internal token) </a> </td>
																				<td> <a href="../elements/id-0de1607b48fb4439bd0537a943579e48.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-86ff397f03604dd9b10b8f336f771bf9.html" target="element"> API Gateway </a> </td>
																				<td> <a href="../elements/id-638fb0e00ab74421855bb0393627af16.html" target="element"> API endpoint </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dc1861df4d4c439582c270592d7ec867.html" target="element"> HTTPS (External token) </a> </td>
																				<td> <a href="../elements/id-dc1861df4d4c439582c270592d7ec867.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-86ff397f03604dd9b10b8f336f771bf9.html" target="element"> API Gateway </a> </td>
																				<td> <a href="../elements/id-09ce76274df64a4ca2ef2781c1b714e0.html" target="element"> Token Service </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4a0c835185924888b23aa971339383fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a0c835185924888b23aa971339383fe.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ace1ea2f04a348e9a87b53971289b9af.html" target="element"> Trusted zone (Backoffice) </a> </td>
																		<td> <a href="../elements/id-638fb0e00ab74421855bb0393627af16.html" target="element"> API endpoint </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-1f1e9647c87440b1bf39d97c52eb618a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1f1e9647c87440b1bf39d97c52eb618a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-638fb0e00ab74421855bb0393627af16.html" target="element"> API endpoint </a> </td>
																				<td> <a href="../elements/id-927dc829e9ba45b2908679df45fa2884.html" target="element"> Input Data Manipulation </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9a61c322a3044aadb98af0094c6d6551.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9a61c322a3044aadb98af0094c6d6551.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e704a209e29d40dbaa9cf52330e9f690.html" target="element"> AC-12: Session Termination </a> </td>
																		<td> <a href="../elements/id-34fcca543dee46fca737da5cbcfaa32a.html" target="element"> Flooding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-90a5962cbeda4e2abb3b1554f6729734.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90a5962cbeda4e2abb3b1554f6729734.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fa5f9556f5c244ec94aa24e5cc00d151.html" target="element"> AC-4(25): Information Flow Enforcement | Data Sanitization </a> </td>
																		<td> <a href="../elements/id-62368b0876264e7d9a531bebd8485602.html" target="element"> Interception </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-512454fe1c76435fa346c2d587aee7d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-512454fe1c76435fa346c2d587aee7d6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dada11acd5c743a390362713ee3a23d8.html" target="element"> CM-7: Least Functionality </a> </td>
																		<td> <a href="../elements/id-9140e159138542a09e911d2bb35ec984.html" target="element"> Adversary in the Middle (AiTM) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dc214228922042d5a6327a818363863e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc214228922042d5a6327a818363863e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f09ae10c99004043811a8b2c4da5a49c.html" target="element"> AC-4: Information Flow Enforcement </a> </td>
																		<td> <a href="../elements/id-927dc829e9ba45b2908679df45fa2884.html" target="element"> Input Data Manipulation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f187362ecb5e4e4098887e4fed2b1b80.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f187362ecb5e4e4098887e4fed2b1b80.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd3509ac0527459d822d49985f8957bd.html" target="element"> SC-6: Resource Availability </a> </td>
																		<td> <a href="../elements/id-34fcca543dee46fca737da5cbcfaa32a.html" target="element"> Flooding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-615b2875aad54482b2fac5b37f805313.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-615b2875aad54482b2fac5b37f805313.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9140e159138542a09e911d2bb35ec984.html" target="element"> Adversary in the Middle (AiTM) </a> </td>
																		<td> <a href="../elements/id-fa5f9556f5c244ec94aa24e5cc00d151.html" target="element"> AC-4(25): Information Flow Enforcement | Data Sanitization </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-022a65f64ed1466ab6ed2c90b38cbb4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-022a65f64ed1466ab6ed2c90b38cbb4a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9140e159138542a09e911d2bb35ec984.html" target="element"> Adversary in the Middle (AiTM) </a> </td>
																		<td> <a href="../elements/id-3db7d93c6f5c4f57aed7eee66f082081.html" target="element"> AU-2: Event Logging </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6c7bc41b586f417c8f0a38f1e233f702.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6c7bc41b586f417c8f0a38f1e233f702.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9140e159138542a09e911d2bb35ec984.html" target="element"> Adversary in the Middle (AiTM) </a> </td>
																		<td> <a href="../elements/id-e51374557e954de286134401bdf9a8e4.html" target="element"> AC-3: Access Enforcement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-61a6ae0e936b4731bea9e666207b9d7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61a6ae0e936b4731bea9e666207b9d7d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c55d08981f2c43daae09597e7abbf13a.html" target="element"> Command Injection </a> </td>
																		<td> <a href="../elements/id-638fb0e00ab74421855bb0393627af16.html" target="element"> API endpoint </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e44f64578862435c91185045b9729b63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e44f64578862435c91185045b9729b63.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c55d08981f2c43daae09597e7abbf13a.html" target="element"> Command Injection </a> </td>
																		<td> <a href="../elements/id-ba26bd43bddc49c1aaa9c33b39033e00.html" target="element"> SI-3: Malicious Code Protection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2dd7fbf2b77040dc8fb5b6f2330e8490.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2dd7fbf2b77040dc8fb5b6f2330e8490.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c55d08981f2c43daae09597e7abbf13a.html" target="element"> Command Injection </a> </td>
																		<td> <a href="../elements/id-6faa71ba6a964d62ac9b574683077357.html" target="element"> WAF </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-76dabd55b45747c2a253ea615f8c1d92.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-76dabd55b45747c2a253ea615f8c1d92.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c55d08981f2c43daae09597e7abbf13a.html" target="element"> Command Injection </a> </td>
																		<td> <a href="../elements/id-86ff397f03604dd9b10b8f336f771bf9.html" target="element"> API Gateway </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6b9249fe6a0d4512ba7c1f7201a0c0b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b9249fe6a0d4512ba7c1f7201a0c0b0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c55d08981f2c43daae09597e7abbf13a.html" target="element"> Command Injection </a> </td>
																		<td> <a href="../elements/id-643bfd1709884c4aa7f0d66cd07e30b0.html" target="element"> SI-10: Information Input Validation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-73b469df3b784150b2403d35b4ccb99c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73b469df3b784150b2403d35b4ccb99c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-34fcca543dee46fca737da5cbcfaa32a.html" target="element"> Flooding </a> </td>
																		<td> <a href="../elements/id-0e8bde2fef02429b9f757c9da13ee391.html" target="element"> SC-5: Denial-of-service Protection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c2c707f8f5b9413ca0d1f003481c5c85.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2c707f8f5b9413ca0d1f003481c5c85.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-34fcca543dee46fca737da5cbcfaa32a.html" target="element"> Flooding </a> </td>
																		<td> <a href="../elements/id-3db7d93c6f5c4f57aed7eee66f082081.html" target="element"> AU-2: Event Logging </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c3d02daef2ce4dc78125a3032b7d2c1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c3d02daef2ce4dc78125a3032b7d2c1f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-927dc829e9ba45b2908679df45fa2884.html" target="element"> Input Data Manipulation </a> </td>
																		<td> <a href="../elements/id-643bfd1709884c4aa7f0d66cd07e30b0.html" target="element"> SI-10: Information Input Validation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bb601e452b6143a28631211909dc022a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb601e452b6143a28631211909dc022a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-62368b0876264e7d9a531bebd8485602.html" target="element"> Interception </a> </td>
																		<td> <a href="../elements/id-cfc8ac66a3f94a9fbf1694a8ca6ea0ab.html" target="element"> HTTPS (External token) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-18d2abb87067481c81c006671c9644c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18d2abb87067481c81c006671c9644c0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-62368b0876264e7d9a531bebd8485602.html" target="element"> Interception </a> </td>
																		<td> <a href="../elements/id-9078e9aa87c442a9b01ea46af7a67ef7.html" target="element"> HTTPS (External token) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a981634611d94d14b77c8d6d971fc46c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a981634611d94d14b77c8d6d971fc46c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-62368b0876264e7d9a531bebd8485602.html" target="element"> Interception </a> </td>
																		<td> <a href="../elements/id-e51374557e954de286134401bdf9a8e4.html" target="element"> AC-3: Access Enforcement </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>