<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>CAPEC Threat Library</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>CAPEC Threat Library</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4a98b4df7a5a4591bf1183dbc592d764.png" alt="CAPEC Threat Library" usemap="#id-4a98b4df7a5a4591bf1183dbc592d764map"/>
			   <map name="id-4a98b4df7a5a4591bf1183dbc592d764map">
				  		<area shape="rect" coords="10,1006,130,1061" href="../elements/id-17ee239c149f4cd58ed5f32e885bd386.html"  target="element">
				  		<area shape="rect" coords="310,710,430,765" href="../elements/id-f1d4e909e1674cc383c13e708a36b966.html"  target="element">
				  		<area shape="rect" coords="310,910,430,965" href="../elements/id-889fa3fc40a3499a94f9960a15a5237d.html"  target="element">
				  		<area shape="rect" coords="160,910,280,965" href="../elements/id-2f56623462f94694bbecbc3124fc34d9.html"  target="element">
				  		<area shape="rect" coords="10,910,130,965" href="../elements/id-ee53c562914940c7a9dbc4fc25f4ba3f.html"  target="element">
				  		<area shape="rect" coords="310,810,430,865" href="../elements/id-400386a67fc94101a4151c4d8efc4b52.html"  target="element">
				  		<area shape="rect" coords="160,810,280,865" href="../elements/id-2cb87300a9b8462192187e4b85f7d65b.html"  target="element">
				  		<area shape="rect" coords="10,810,130,865" href="../elements/id-1c45934a16be4fc8939b5254692d6c42.html"  target="element">
				  		<area shape="rect" coords="766,910,886,965" href="../elements/id-74f50d8bcf754cc1be79dc9db1ecc9fc.html"  target="element">
				  		<area shape="rect" coords="616,910,736,965" href="../elements/id-cbae2706137f44d29d5926900086a5e4.html"  target="element">
				  		<area shape="rect" coords="466,910,586,965" href="../elements/id-62cf879e8f8e4191bfb28b58e7307f74.html"  target="element">
				  		<area shape="rect" coords="766,810,886,865" href="../elements/id-97ce8c47fd8b444789ee1343d5fd28de.html"  target="element">
				  		<area shape="rect" coords="616,810,736,865" href="../elements/id-bdd5de15c4834e6a9cb939cf008ec2b5.html"  target="element">
				  		<area shape="rect" coords="466,810,586,865" href="../elements/id-69cfbf1ba48d424e9fe10c50de3ceee1.html"  target="element">
				  		<area shape="rect" coords="766,710,886,765" href="../elements/id-dac90fc4b02a451393416b2dec9e4a58.html"  target="element">
				  		<area shape="rect" coords="616,710,736,765" href="../elements/id-44235ffcb5774fc9bd697967a7aa1c27.html"  target="element">
				  		<area shape="rect" coords="466,710,586,765" href="../elements/id-59aa19031c75450d90451fbd31d6096f.html"  target="element">
				  		<area shape="rect" coords="766,610,886,665" href="../elements/id-43491686116f4415a9de540eb5b7cab7.html"  target="element">
				  		<area shape="rect" coords="616,610,736,665" href="../elements/id-9a2e5483034748328a3320e2529cb791.html"  target="element">
				  		<area shape="rect" coords="466,610,586,665" href="../elements/id-da6d472072bc445ba22adefca378a128.html"  target="element">
				  		<area shape="rect" coords="766,510,886,565" href="../elements/id-816e8b98f21a461f861d6f41f6c29f5c.html"  target="element">
				  		<area shape="rect" coords="616,510,736,565" href="../elements/id-992d2351250c4156b0d0a1e73dc028c2.html"  target="element">
				  		<area shape="rect" coords="466,510,586,565" href="../elements/id-eef993e5774d4b61a29594918c3a9d82.html"  target="element">
				  		<area shape="rect" coords="766,410,886,465" href="../elements/id-22bb378de53f40a5a9895cf902fd5877.html"  target="element">
				  		<area shape="rect" coords="616,410,736,465" href="../elements/id-485af6c2d9c04c5aa2395302a040a67e.html"  target="element">
				  		<area shape="rect" coords="466,410,586,465" href="../elements/id-ecf16ac614644c78af101a27ae3fc240.html"  target="element">
				  		<area shape="rect" coords="766,310,886,365" href="../elements/id-f7857ec70c624984b18140b2c1e060cc.html"  target="element">
				  		<area shape="rect" coords="616,310,736,365" href="../elements/id-15c1762a1b454ab587021fa2b4301197.html"  target="element">
				  		<area shape="rect" coords="466,310,586,365" href="../elements/id-1a8b11c1f7f14f6197f152b31a732f2c.html"  target="element">
				  		<area shape="rect" coords="766,210,886,265" href="../elements/id-1a92bed22a044405acdc4bd75701d160.html"  target="element">
				  		<area shape="rect" coords="616,210,736,265" href="../elements/id-0086c887110447219c396c1c31c1a481.html"  target="element">
				  		<area shape="rect" coords="466,210,586,265" href="../elements/id-39a4c82abb4d486ab07d236fd5ff7dd8.html"  target="element">
				  		<area shape="rect" coords="766,110,886,165" href="../elements/id-82f6c4a6851e4f64be9db778da5461b6.html"  target="element">
				  		<area shape="rect" coords="616,110,736,165" href="../elements/id-5864c9adc8b74fc39698a5395a15ba9f.html"  target="element">
				  		<area shape="rect" coords="466,110,586,165" href="../elements/id-8fb88b38169f4a34b63738c18f72af4e.html"  target="element">
				  		<area shape="rect" coords="766,10,886,65" href="../elements/id-f7ab5a08215c4507bd54408495249638.html"  target="element">
				  		<area shape="rect" coords="616,10,736,65" href="../elements/id-dfe28a75022a4f57a953b8671a36dc46.html"  target="element">
				  		<area shape="rect" coords="466,10,586,65" href="../elements/id-29288076c5ee4266bcf4df4ebcecfdd3.html"  target="element">
				  		<area shape="rect" coords="160,710,280,765" href="../elements/id-d25f68223d2c462c8454348ec6c6bd74.html"  target="element">
				  		<area shape="rect" coords="10,710,130,765" href="../elements/id-e6d951828339465bb1e7e71e64738465.html"  target="element">
				  		<area shape="rect" coords="310,610,430,665" href="../elements/id-9a0546ecf9ed442dbb6de174d5ac39fd.html"  target="element">
				  		<area shape="rect" coords="160,610,280,665" href="../elements/id-b6b3d94d1b734f6abd59d13084a18633.html"  target="element">
				  		<area shape="rect" coords="10,610,130,665" href="../elements/id-a431b2cfdfe945abbe130ad28779c700.html"  target="element">
				  		<area shape="rect" coords="310,510,430,565" href="../elements/id-9bbdc7808c34423ba2f330063245d09d.html"  target="element">
				  		<area shape="rect" coords="160,510,280,565" href="../elements/id-6ead60db695b4cceb49da5dc5d09cf49.html"  target="element">
				  		<area shape="rect" coords="10,510,130,565" href="../elements/id-e938ac74700f4dd9ba4b4411c2e5af35.html"  target="element">
				  		<area shape="rect" coords="310,410,430,465" href="../elements/id-8236824e1c4948628a686324c066c899.html"  target="element">
				  		<area shape="rect" coords="160,410,280,465" href="../elements/id-62368b0876264e7d9a531bebd8485602.html"  target="element">
				  		<area shape="rect" coords="10,410,130,465" href="../elements/id-927dc829e9ba45b2908679df45fa2884.html"  target="element">
				  		<area shape="rect" coords="310,310,430,365" href="../elements/id-716d495d452341219b822f8b8ea13ec5.html"  target="element">
				  		<area shape="rect" coords="160,310,280,365" href="../elements/id-6835983e52d942779d037e2c1f3f052d.html"  target="element">
				  		<area shape="rect" coords="10,310,130,365" href="../elements/id-34fcca543dee46fca737da5cbcfaa32a.html"  target="element">
				  		<area shape="rect" coords="310,210,430,265" href="../elements/id-11f90a9888be42ceb23e6a8257e6e37a.html"  target="element">
				  		<area shape="rect" coords="160,210,280,265" href="../elements/id-040bc5dcd82b4a138aa72d1a32a72be1.html"  target="element">
				  		<area shape="rect" coords="10,210,130,265" href="../elements/id-3edc788fb6b6431794b1276b01c9394d.html"  target="element">
				  		<area shape="rect" coords="310,110,430,165" href="../elements/id-a3fcdd76ed1e4eadabef0a2c8d17cacd.html"  target="element">
				  		<area shape="rect" coords="160,110,280,165" href="../elements/id-c55d08981f2c43daae09597e7abbf13a.html"  target="element">
				  		<area shape="rect" coords="10,110,130,165" href="../elements/id-909bd58443774d1694712483b7405d65.html"  target="element">
				  		<area shape="rect" coords="310,10,430,65" href="../elements/id-35339fd7c3a945739cccdaa3dbb0ab73.html"  target="element">
				  		<area shape="rect" coords="160,10,280,65" href="../elements/id-385711649eac4c499d37f3fc96e8d9f5.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/id-9140e159138542a09e911d2bb35ec984.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">You can generate this view by deleting all contents and selecting/dragging all motivation elements in the "CAPEC Architectural Attack Patterns" folder on the canvas.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9140e159138542a09e911d2bb35ec984.html" target="element"> CAPEC-94: Adversary in the Middle (AiTM) </a> </td>
											    <td> <a href="../elements/id-9140e159138542a09e911d2bb35ec984.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-385711649eac4c499d37f3fc96e8d9f5.html" target="element"> CAPEC-115: Authentication Bypass </a> </td>
											    <td> <a href="../elements/id-385711649eac4c499d37f3fc96e8d9f5.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-35339fd7c3a945739cccdaa3dbb0ab73.html" target="element"> CAPEC-112: Brute Force </a> </td>
											    <td> <a href="../elements/id-35339fd7c3a945739cccdaa3dbb0ab73.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-909bd58443774d1694712483b7405d65.html" target="element"> CAPEC-242: Code Injection </a> </td>
											    <td> <a href="../elements/id-909bd58443774d1694712483b7405d65.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c55d08981f2c43daae09597e7abbf13a.html" target="element"> CAPEC-248: Command Injection </a> </td>
											    <td> <a href="../elements/id-c55d08981f2c43daae09597e7abbf13a.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a3fcdd76ed1e4eadabef0a2c8d17cacd.html" target="element"> CAPEC-176: Configuration/Environment Manipulation </a> </td>
											    <td> <a href="../elements/id-a3fcdd76ed1e4eadabef0a2c8d17cacd.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3edc788fb6b6431794b1276b01c9394d.html" target="element"> CAPEC-148: Content Spoofing </a> </td>
											    <td> <a href="../elements/id-3edc788fb6b6431794b1276b01c9394d.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-040bc5dcd82b4a138aa72d1a32a72be1.html" target="element"> CAPEC-130: Excessive Allocation </a> </td>
											    <td> <a href="../elements/id-040bc5dcd82b4a138aa72d1a32a72be1.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-11f90a9888be42ceb23e6a8257e6e37a.html" target="element"> CAPEC-21: Exploitation of Trusted Identifiers </a> </td>
											    <td> <a href="../elements/id-11f90a9888be42ceb23e6a8257e6e37a.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-34fcca543dee46fca737da5cbcfaa32a.html" target="element"> CAPEC-125: Flooding </a> </td>
											    <td> <a href="../elements/id-34fcca543dee46fca737da5cbcfaa32a.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6835983e52d942779d037e2c1f3f052d.html" target="element"> CAPEC-28: Fuzzing </a> </td>
											    <td> <a href="../elements/id-6835983e52d942779d037e2c1f3f052d.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-716d495d452341219b822f8b8ea13ec5.html" target="element"> CAPEC-151: Identity Spoofing </a> </td>
											    <td> <a href="../elements/id-716d495d452341219b822f8b8ea13ec5.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-927dc829e9ba45b2908679df45fa2884.html" target="element"> CAPEC-153: Input Data Manipulation </a> </td>
											    <td> <a href="../elements/id-927dc829e9ba45b2908679df45fa2884.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-62368b0876264e7d9a531bebd8485602.html" target="element"> CAPEC-117: Interception </a> </td>
											    <td> <a href="../elements/id-62368b0876264e7d9a531bebd8485602.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8236824e1c4948628a686324c066c899.html" target="element"> CAPEC-26: Leveraging Race Conditions </a> </td>
											    <td> <a href="../elements/id-8236824e1c4948628a686324c066c899.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e938ac74700f4dd9ba4b4411c2e5af35.html" target="element"> CAPEC-441: Malicious Logic Insertion </a> </td>
											    <td> <a href="../elements/id-e938ac74700f4dd9ba4b4411c2e5af35.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6ead60db695b4cceb49da5dc5d09cf49.html" target="element"> CAPEC-74: Manipulating State </a> </td>
											    <td> <a href="../elements/id-6ead60db695b4cceb49da5dc5d09cf49.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9bbdc7808c34423ba2f330063245d09d.html" target="element"> CAPEC-137: Parameter Injection </a> </td>
											    <td> <a href="../elements/id-9bbdc7808c34423ba2f330063245d09d.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a431b2cfdfe945abbe130ad28779c700.html" target="element"> CAPEC-122: Privilege Abuse </a> </td>
											    <td> <a href="../elements/id-a431b2cfdfe945abbe130ad28779c700.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b6b3d94d1b734f6abd59d13084a18633.html" target="element"> CAPEC-233: Privilege Escalation </a> </td>
											    <td> <a href="../elements/id-b6b3d94d1b734f6abd59d13084a18633.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9a0546ecf9ed442dbb6de174d5ac39fd.html" target="element"> CAPEC-192: Protocol Analysis </a> </td>
											    <td> <a href="../elements/id-9a0546ecf9ed442dbb6de174d5ac39fd.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e6d951828339465bb1e7e71e64738465.html" target="element"> CAPEC-184: Software Integrity Attack </a> </td>
											    <td> <a href="../elements/id-e6d951828339465bb1e7e71e64738465.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d25f68223d2c462c8454348ec6c6bd74.html" target="element"> CAPEC-560: Use of Known Domain Credentials </a> </td>
											    <td> <a href="../elements/id-d25f68223d2c462c8454348ec6c6bd74.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-29288076c5ee4266bcf4df4ebcecfdd3.html" target="element"> CAPEC-113: Interface Manipulation </a> </td>
											    <td> <a href="../elements/id-29288076c5ee4266bcf4df4ebcecfdd3.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dfe28a75022a4f57a953b8671a36dc46.html" target="element"> CAPEC-114: Authentication Abuse </a> </td>
											    <td> <a href="../elements/id-dfe28a75022a4f57a953b8671a36dc46.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f7ab5a08215c4507bd54408495249638.html" target="element"> CAPEC-116: Excavation </a> </td>
											    <td> <a href="../elements/id-f7ab5a08215c4507bd54408495249638.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8fb88b38169f4a34b63738c18f72af4e.html" target="element"> CAPEC-123: Buffer Manipulation </a> </td>
											    <td> <a href="../elements/id-8fb88b38169f4a34b63738c18f72af4e.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5864c9adc8b74fc39698a5395a15ba9f.html" target="element"> CAPEC-124: Shared Resource Manipulation </a> </td>
											    <td> <a href="../elements/id-5864c9adc8b74fc39698a5395a15ba9f.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-82f6c4a6851e4f64be9db778da5461b6.html" target="element"> CAPEC-129: Pointer Manipulation </a> </td>
											    <td> <a href="../elements/id-82f6c4a6851e4f64be9db778da5461b6.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-39a4c82abb4d486ab07d236fd5ff7dd8.html" target="element"> CAPEC-131: Resource Leak Exposure </a> </td>
											    <td> <a href="../elements/id-39a4c82abb4d486ab07d236fd5ff7dd8.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0086c887110447219c396c1c31c1a481.html" target="element"> CAPEC-154: Resource Location Spoofing </a> </td>
											    <td> <a href="../elements/id-0086c887110447219c396c1c31c1a481.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1a92bed22a044405acdc4bd75701d160.html" target="element"> CAPEC-161: Infrastructure Manipulation </a> </td>
											    <td> <a href="../elements/id-1a92bed22a044405acdc4bd75701d160.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1a8b11c1f7f14f6197f152b31a732f2c.html" target="element"> CAPEC-165: File Manipulation </a> </td>
											    <td> <a href="../elements/id-1a8b11c1f7f14f6197f152b31a732f2c.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-15c1762a1b454ab587021fa2b4301197.html" target="element"> CAPEC-169: Footprinting </a> </td>
											    <td> <a href="../elements/id-15c1762a1b454ab587021fa2b4301197.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f7857ec70c624984b18140b2c1e060cc.html" target="element"> CAPEC-173: Action Spoofing </a> </td>
											    <td> <a href="../elements/id-f7857ec70c624984b18140b2c1e060cc.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ecf16ac614644c78af101a27ae3fc240.html" target="element"> CAPEC-175: Code Inclusion </a> </td>
											    <td> <a href="../elements/id-ecf16ac614644c78af101a27ae3fc240.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-485af6c2d9c04c5aa2395302a040a67e.html" target="element"> CAPEC-188: Reverse Engineering </a> </td>
											    <td> <a href="../elements/id-485af6c2d9c04c5aa2395302a040a67e.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-22bb378de53f40a5a9895cf902fd5877.html" target="element"> CAPEC-212: Functionality Misuse </a> </td>
											    <td> <a href="../elements/id-22bb378de53f40a5a9895cf902fd5877.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eef993e5774d4b61a29594918c3a9d82.html" target="element"> CAPEC-216: Communication Channel Manipulation </a> </td>
											    <td> <a href="../elements/id-eef993e5774d4b61a29594918c3a9d82.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-992d2351250c4156b0d0a1e73dc028c2.html" target="element"> CAPEC-22: Exploiting Trust in Client </a> </td>
											    <td> <a href="../elements/id-992d2351250c4156b0d0a1e73dc028c2.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-816e8b98f21a461f861d6f41f6c29f5c.html" target="element"> CAPEC-224: Fingerprinting </a> </td>
											    <td> <a href="../elements/id-816e8b98f21a461f861d6f41f6c29f5c.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-da6d472072bc445ba22adefca378a128.html" target="element"> CAPEC-227: Sustained Client Engagement </a> </td>
											    <td> <a href="../elements/id-da6d472072bc445ba22adefca378a128.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9a2e5483034748328a3320e2529cb791.html" target="element"> CAPEC-240: Resource Injection </a> </td>
											    <td> <a href="../elements/id-9a2e5483034748328a3320e2529cb791.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-43491686116f4415a9de540eb5b7cab7.html" target="element"> CAPEC-25: Forced Deadlock </a> </td>
											    <td> <a href="../elements/id-43491686116f4415a9de540eb5b7cab7.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-59aa19031c75450d90451fbd31d6096f.html" target="element"> CAPEC-272: Protocol Manipulation </a> </td>
											    <td> <a href="../elements/id-59aa19031c75450d90451fbd31d6096f.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-44235ffcb5774fc9bd697967a7aa1c27.html" target="element"> CAPEC-390: Bypassing Physical Security </a> </td>
											    <td> <a href="../elements/id-44235ffcb5774fc9bd697967a7aa1c27.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dac90fc4b02a451393416b2dec9e4a58.html" target="element"> CAPEC-410: Information Elicitation </a> </td>
											    <td> <a href="../elements/id-dac90fc4b02a451393416b2dec9e4a58.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-69cfbf1ba48d424e9fe10c50de3ceee1.html" target="element"> CAPEC-416: Manipulate Human Behavior </a> </td>
											    <td> <a href="../elements/id-69cfbf1ba48d424e9fe10c50de3ceee1.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bdd5de15c4834e6a9cb939cf008ec2b5.html" target="element"> CAPEC-438: Modification During Manufacture </a> </td>
											    <td> <a href="../elements/id-bdd5de15c4834e6a9cb939cf008ec2b5.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97ce8c47fd8b444789ee1343d5fd28de.html" target="element"> CAPEC-439: Manipulation During Distribution </a> </td>
											    <td> <a href="../elements/id-97ce8c47fd8b444789ee1343d5fd28de.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-62cf879e8f8e4191bfb28b58e7307f74.html" target="element"> CAPEC-440: Hardware Integrity Attack </a> </td>
											    <td> <a href="../elements/id-62cf879e8f8e4191bfb28b58e7307f74.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cbae2706137f44d29d5926900086a5e4.html" target="element"> CAPEC-507: Physical Theft </a> </td>
											    <td> <a href="../elements/id-cbae2706137f44d29d5926900086a5e4.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-74f50d8bcf754cc1be79dc9db1ecc9fc.html" target="element"> CAPEC-548: Contaminate Resource </a> </td>
											    <td> <a href="../elements/id-74f50d8bcf754cc1be79dc9db1ecc9fc.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1c45934a16be4fc8939b5254692d6c42.html" target="element"> CAPEC-549: Local Execution of Code </a> </td>
											    <td> <a href="../elements/id-1c45934a16be4fc8939b5254692d6c42.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2cb87300a9b8462192187e4b85f7d65b.html" target="element"> CAPEC-554: Functionality Bypass </a> </td>
											    <td> <a href="../elements/id-2cb87300a9b8462192187e4b85f7d65b.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-400386a67fc94101a4151c4d8efc4b52.html" target="element"> CAPEC-586: Object Injection </a> </td>
											    <td> <a href="../elements/id-400386a67fc94101a4151c4d8efc4b52.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ee53c562914940c7a9dbc4fc25f4ba3f.html" target="element"> CAPEC-594: Traffic Injection </a> </td>
											    <td> <a href="../elements/id-ee53c562914940c7a9dbc4fc25f4ba3f.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2f56623462f94694bbecbc3124fc34d9.html" target="element"> CAPEC-607: Obstruction </a> </td>
											    <td> <a href="../elements/id-2f56623462f94694bbecbc3124fc34d9.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-889fa3fc40a3499a94f9960a15a5237d.html" target="element"> CAPEC-624: Hardware Fault Injection </a> </td>
											    <td> <a href="../elements/id-889fa3fc40a3499a94f9960a15a5237d.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f1d4e909e1674cc383c13e708a36b966.html" target="element"> CAPEC-690: Metadata Spoofing </a> </td>
											    <td> <a href="../elements/id-f1d4e909e1674cc383c13e708a36b966.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-17ee239c149f4cd58ed5f32e885bd386.html" target="element"> CAPEC-699: Eavesdropping on a Monitor </a> </td>
											    <td> <a href="../elements/id-17ee239c149f4cd58ed5f32e885bd386.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>