<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-658e9fe9a7ae4d98b547d9c64a514b55.png" alt="Overview" usemap="#id-658e9fe9a7ae4d98b547d9c64a514b55map"/>
			   <map name="id-658e9fe9a7ae4d98b547d9c64a514b55map">
				  		<area shape="rect" coords="160,1499,280,1554" href="../elements/id-44f67fd13f5c48ffb2244f24465d2616.html"  target="element">
				  		<area shape="rect" coords="10,1499,130,1554" href="../elements/id-c09b66a0438c47cba10aabb346188be2.html"  target="element">
				  		<area shape="rect" coords="310,1399,430,1454" href="../elements/id-b683868fbe234566887ae35843159557.html"  target="element">
				  		<area shape="rect" coords="160,1399,280,1454" href="../elements/id-862782b4eb004339be4a9d29f31095a0.html"  target="element">
				  		<area shape="rect" coords="10,1399,130,1454" href="../elements/id-31f3d5b7c6a24b67bb82dd63ef87c94a.html"  target="element">
				  		<area shape="rect" coords="160,1310,280,1365" href="../elements/id-22fd761983194f63abfce60a56a14843.html"  target="element">
				  		<area shape="rect" coords="10,1310,130,1365" href="../elements/id-fc37a059146845b1a9cb2897f3e82bc1.html"  target="element">
				  		<area shape="rect" coords="310,1210,430,1265" href="../elements/id-5b4a6cd3726143deb39d5b7f53111e46.html"  target="element">
				  		<area shape="rect" coords="160,1210,280,1265" href="../elements/id-43e9da69c6cf49edb6680003ca33484b.html"  target="element">
				  		<area shape="rect" coords="10,1210,130,1265" href="../elements/id-0e5bc99f1b8b4c0b88bd7a4c6d5c82dd.html"  target="element">
				  		<area shape="rect" coords="310,1110,430,1165" href="../elements/id-36af40d3caa746ce8106bb6bb101faf3.html"  target="element">
				  		<area shape="rect" coords="160,1110,280,1165" href="../elements/id-6baa6801d30a4ab7ab1c16ed86aaa581.html"  target="element">
				  		<area shape="rect" coords="10,1110,130,1165" href="../elements/id-073714280b424219a6276af26823b394.html"  target="element">
				  		<area shape="rect" coords="310,1010,430,1065" href="../elements/id-ae409aeeb1a64e8d866779b778a8ab59.html"  target="element">
				  		<area shape="rect" coords="160,1010,280,1065" href="../elements/id-750dd6390ff24db5901fe0eec616ea45.html"  target="element">
				  		<area shape="rect" coords="10,1010,130,1065" href="../elements/id-930ebb83ad00413aa89808595bb5b6c7.html"  target="element">
				  		<area shape="rect" coords="310,910,430,965" href="../elements/id-18f3eb9b8cf04475be6affa9e7af517f.html"  target="element">
				  		<area shape="rect" coords="160,910,280,965" href="../elements/id-f26240771c8347a082505a62ed09c38a.html"  target="element">
				  		<area shape="rect" coords="10,910,130,965" href="../elements/id-02c2c0ad6b1640b59b4c4554815e907a.html"  target="element">
				  		<area shape="rect" coords="310,810,430,865" href="../elements/id-4c93664f9ef340bc88612296d00ad3c5.html"  target="element">
				  		<area shape="rect" coords="10,810,130,865" href="../elements/id-7aea0fb9212c4d78a10798709773a188.html"  target="element">
				  		<area shape="rect" coords="160,710,280,765" href="../elements/id-1938b2e7504c402890c8ae1836082d32.html"  target="element">
				  		<area shape="rect" coords="10,710,130,765" href="../elements/id-2ae680cdc87a48aaa7914bc0b0296c68.html"  target="element">
				  		<area shape="rect" coords="310,610,430,665" href="../elements/id-671fb17a7ecb432d8470ad2ef98b1682.html"  target="element">
				  		<area shape="rect" coords="160,610,280,665" href="../elements/id-fbd3b0e5af864136bfab0a76bb26212e.html"  target="element">
				  		<area shape="rect" coords="10,610,130,665" href="../elements/id-ae10a510032546a6b729f3dff6737c69.html"  target="element">
				  		<area shape="rect" coords="310,510,430,565" href="../elements/id-34baad2d9baa483b83e382963a8c9704.html"  target="element">
				  		<area shape="rect" coords="160,510,280,565" href="../elements/id-dd5f6ffb5a6c4514b3e187882c21db35.html"  target="element">
				  		<area shape="rect" coords="10,510,130,565" href="../elements/id-a5935eb3119e474aa3a14eabd5e0ffd2.html"  target="element">
				  		<area shape="rect" coords="310,410,430,465" href="../elements/id-3e2dcf29ef844913a8950eae15bd9d02.html"  target="element">
				  		<area shape="rect" coords="160,410,280,465" href="../elements/id-e3824fa50b8b4831b3a4ce3ac130583a.html"  target="element">
				  		<area shape="rect" coords="10,410,130,465" href="../elements/id-0251c716e7a94712aea7fcfecf161c90.html"  target="element">
				  		<area shape="rect" coords="310,310,430,365" href="../elements/id-548a26cc7db5408cae5b68f67fa49b76.html"  target="element">
				  		<area shape="rect" coords="160,310,280,365" href="../elements/id-dedf4b53d12f49509ed8f37bf8db1c73.html"  target="element">
				  		<area shape="rect" coords="10,310,130,365" href="../elements/id-e97c2363fa9b4a7c893c6ba1b625a9d0.html"  target="element">
				  		<area shape="rect" coords="310,210,430,265" href="../elements/id-c6a88dd9d625485998a98964d08cef11.html"  target="element">
				  		<area shape="rect" coords="160,210,280,265" href="../elements/id-c8edf86b417044278da4e25de6375229.html"  target="element">
				  		<area shape="rect" coords="10,210,130,265" href="../elements/id-837b3cfbdf0e48fe83703c3a8c02e408.html"  target="element">
				  		<area shape="rect" coords="310,110,430,165" href="../elements/id-9510dcb19a4542f2accd15000e513306.html"  target="element">
				  		<area shape="rect" coords="160,110,280,165" href="../elements/id-cc17a21963bb4ebdbffae74066c08108.html"  target="element">
				  		<area shape="rect" coords="10,110,130,165" href="../elements/id-1a9ccf79dacd4f179c3a8ab65eab8018.html"  target="element">
				  		<area shape="rect" coords="310,10,430,65" href="../elements/id-b794b771aa8f46afb7d43e99069d38ec.html"  target="element">
				  		<area shape="rect" coords="160,10,280,65" href="../elements/id-0f8ec1c611364abd9788d655adb3154a.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/id-7e32ce388e4e448196671e1cfa37e653.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-7e32ce388e4e448196671e1cfa37e653.html" target="element"> STS-01: Data loss prevention service   </a> </td>
											    <td> <a href="../elements/id-7e32ce388e4e448196671e1cfa37e653.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0f8ec1c611364abd9788d655adb3154a.html" target="element"> STS-02: Identity governance and administration service   </a> </td>
											    <td> <a href="../elements/id-0f8ec1c611364abd9788d655adb3154a.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b794b771aa8f46afb7d43e99069d38ec.html" target="element"> STS-03: Identity provider service   </a> </td>
											    <td> <a href="../elements/id-b794b771aa8f46afb7d43e99069d38ec.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1a9ccf79dacd4f179c3a8ab65eab8018.html" target="element"> STS-04: Security testing service   </a> </td>
											    <td> <a href="../elements/id-1a9ccf79dacd4f179c3a8ab65eab8018.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cc17a21963bb4ebdbffae74066c08108.html" target="element"> STS-05: Network firewall service   </a> </td>
											    <td> <a href="../elements/id-cc17a21963bb4ebdbffae74066c08108.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9510dcb19a4542f2accd15000e513306.html" target="element"> STS-06: Endpoint detection and response service   </a> </td>
											    <td> <a href="../elements/id-9510dcb19a4542f2accd15000e513306.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-837b3cfbdf0e48fe83703c3a8c02e408.html" target="element"> STS-07: Mobile device management service   </a> </td>
											    <td> <a href="../elements/id-837b3cfbdf0e48fe83703c3a8c02e408.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c8edf86b417044278da4e25de6375229.html" target="element"> STS-08: Security awareness training service   </a> </td>
											    <td> <a href="../elements/id-c8edf86b417044278da4e25de6375229.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c6a88dd9d625485998a98964d08cef11.html" target="element"> STS-09: Data classification service   </a> </td>
											    <td> <a href="../elements/id-c6a88dd9d625485998a98964d08cef11.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e97c2363fa9b4a7c893c6ba1b625a9d0.html" target="element"> STS-10: Secrets management service   </a> </td>
											    <td> <a href="../elements/id-e97c2363fa9b4a7c893c6ba1b625a9d0.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dedf4b53d12f49509ed8f37bf8db1c73.html" target="element"> STS-11: Threat intelligence service   </a> </td>
											    <td> <a href="../elements/id-dedf4b53d12f49509ed8f37bf8db1c73.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-548a26cc7db5408cae5b68f67fa49b76.html" target="element"> STS-12: Vulnerability management service   </a> </td>
											    <td> <a href="../elements/id-548a26cc7db5408cae5b68f67fa49b76.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0251c716e7a94712aea7fcfecf161c90.html" target="element"> STS-13: Security information and event management service   </a> </td>
											    <td> <a href="../elements/id-0251c716e7a94712aea7fcfecf161c90.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e3824fa50b8b4831b3a4ce3ac130583a.html" target="element"> STS-14: Public key infrastructure service   </a> </td>
											    <td> <a href="../elements/id-e3824fa50b8b4831b3a4ce3ac130583a.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3e2dcf29ef844913a8950eae15bd9d02.html" target="element"> STS-15: Security orchestration, automation, and response service </a> </td>
											    <td> <a href="../elements/id-3e2dcf29ef844913a8950eae15bd9d02.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a5935eb3119e474aa3a14eabd5e0ffd2.html" target="element"> STS-16: Backup and recovery service </a> </td>
											    <td> <a href="../elements/id-a5935eb3119e474aa3a14eabd5e0ffd2.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd5f6ffb5a6c4514b3e187882c21db35.html" target="element"> STS-17: Web application firewall service </a> </td>
											    <td> <a href="../elements/id-dd5f6ffb5a6c4514b3e187882c21db35.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-34baad2d9baa483b83e382963a8c9704.html" target="element"> STS-18: Privileged access management service </a> </td>
											    <td> <a href="../elements/id-34baad2d9baa483b83e382963a8c9704.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ae10a510032546a6b729f3dff6737c69.html" target="element"> STS-19: Intrusion detection and prevention service </a> </td>
											    <td> <a href="../elements/id-ae10a510032546a6b729f3dff6737c69.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fbd3b0e5af864136bfab0a76bb26212e.html" target="element"> STS-20: Data encryption service </a> </td>
											    <td> <a href="../elements/id-fbd3b0e5af864136bfab0a76bb26212e.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-671fb17a7ecb432d8470ad2ef98b1682.html" target="element"> STS-21: Distributed denial of service protection service </a> </td>
											    <td> <a href="../elements/id-671fb17a7ecb432d8470ad2ef98b1682.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2ae680cdc87a48aaa7914bc0b0296c68.html" target="element"> STS-22: Cloud access security broker service </a> </td>
											    <td> <a href="../elements/id-2ae680cdc87a48aaa7914bc0b0296c68.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1938b2e7504c402890c8ae1836082d32.html" target="element"> STS-23: Secure service gateway (API gateway) </a> </td>
											    <td> <a href="../elements/id-1938b2e7504c402890c8ae1836082d32.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7aea0fb9212c4d78a10798709773a188.html" target="element"> STS-25: Zero trust network access service (remote access service) </a> </td>
											    <td> <a href="../elements/id-7aea0fb9212c4d78a10798709773a188.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4c93664f9ef340bc88612296d00ad3c5.html" target="element"> STS-27: Privacy enhancing service </a> </td>
											    <td> <a href="../elements/id-4c93664f9ef340bc88612296d00ad3c5.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-02c2c0ad6b1640b59b4c4554815e907a.html" target="element"> STS-28: Secure configuration management service </a> </td>
											    <td> <a href="../elements/id-02c2c0ad6b1640b59b4c4554815e907a.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f26240771c8347a082505a62ed09c38a.html" target="element"> STS-29: Patch management service </a> </td>
											    <td> <a href="../elements/id-f26240771c8347a082505a62ed09c38a.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-18f3eb9b8cf04475be6affa9e7af517f.html" target="element"> STS-30: Business continuity service </a> </td>
											    <td> <a href="../elements/id-18f3eb9b8cf04475be6affa9e7af517f.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-930ebb83ad00413aa89808595bb5b6c7.html" target="element"> STS-31: Data signing service </a> </td>
											    <td> <a href="../elements/id-930ebb83ad00413aa89808595bb5b6c7.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-750dd6390ff24db5901fe0eec616ea45.html" target="element"> STS-32: Data non-repudiation service </a> </td>
											    <td> <a href="../elements/id-750dd6390ff24db5901fe0eec616ea45.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ae409aeeb1a64e8d866779b778a8ab59.html" target="element"> STS-33: Authorization policy decision service </a> </td>
											    <td> <a href="../elements/id-ae409aeeb1a64e8d866779b778a8ab59.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-073714280b424219a6276af26823b394.html" target="element"> STS-34: Virtualized desktop infrastructure service </a> </td>
											    <td> <a href="../elements/id-073714280b424219a6276af26823b394.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6baa6801d30a4ab7ab1c16ed86aaa581.html" target="element"> STS-35: AI abuse detection and prevention service </a> </td>
											    <td> <a href="../elements/id-6baa6801d30a4ab7ab1c16ed86aaa581.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-36af40d3caa746ce8106bb6bb101faf3.html" target="element"> STS-36: Secure time service </a> </td>
											    <td> <a href="../elements/id-36af40d3caa746ce8106bb6bb101faf3.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e5bc99f1b8b4c0b88bd7a4c6d5c82dd.html" target="element"> STS-37: Email protection service </a> </td>
											    <td> <a href="../elements/id-0e5bc99f1b8b4c0b88bd7a4c6d5c82dd.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-43e9da69c6cf49edb6680003ca33484b.html" target="element"> STS-38: Malware analysis service </a> </td>
											    <td> <a href="../elements/id-43e9da69c6cf49edb6680003ca33484b.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5b4a6cd3726143deb39d5b7f53111e46.html" target="element"> STS-39: Risk management service </a> </td>
											    <td> <a href="../elements/id-5b4a6cd3726143deb39d5b7f53111e46.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fc37a059146845b1a9cb2897f3e82bc1.html" target="element"> STS-40: Third party risk management service </a> </td>
											    <td> <a href="../elements/id-fc37a059146845b1a9cb2897f3e82bc1.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-22fd761983194f63abfce60a56a14843.html" target="element"> STS-41: Attack surface management service </a> </td>
											    <td> <a href="../elements/id-22fd761983194f63abfce60a56a14843.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-31f3d5b7c6a24b67bb82dd63ef87c94a.html" target="element"> STS-42: Dark web monitoring service </a> </td>
											    <td> <a href="../elements/id-31f3d5b7c6a24b67bb82dd63ef87c94a.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-862782b4eb004339be4a9d29f31095a0.html" target="element"> STS-43: Honeypot service </a> </td>
											    <td> <a href="../elements/id-862782b4eb004339be4a9d29f31095a0.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b683868fbe234566887ae35843159557.html" target="element"> STS-44: Crisis management and reporting service </a> </td>
											    <td> <a href="../elements/id-b683868fbe234566887ae35843159557.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c09b66a0438c47cba10aabb346188be2.html" target="element"> STS-45: Enterprise security architecture service </a> </td>
											    <td> <a href="../elements/id-c09b66a0438c47cba10aabb346188be2.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-44f67fd13f5c48ffb2244f24465d2616.html" target="element"> STS-46: Software, hardware, and data integrity protection service </a> </td>
											    <td> <a href="../elements/id-44f67fd13f5c48ffb2244f24465d2616.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-2f1c232862ab410c94865b154263b064.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2f1c232862ab410c94865b154263b064.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0251c716e7a94712aea7fcfecf161c90.html" target="element"> STS-13: Security information and event management service   </a> </td>
																		<td> <a href="../elements/id-b794b771aa8f46afb7d43e99069d38ec.html" target="element"> STS-03: Identity provider service   </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f771ee02906b4171b256ae2671a9d2eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f771ee02906b4171b256ae2671a9d2eb.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0251c716e7a94712aea7fcfecf161c90.html" target="element"> STS-13: Security information and event management service   </a> </td>
																		<td> <a href="../elements/id-dd5f6ffb5a6c4514b3e187882c21db35.html" target="element"> STS-17: Web application firewall service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e804dc4ddaba4f1f99e9f5d0820dc122.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e804dc4ddaba4f1f99e9f5d0820dc122.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0251c716e7a94712aea7fcfecf161c90.html" target="element"> STS-13: Security information and event management service   </a> </td>
																		<td> <a href="../elements/id-1938b2e7504c402890c8ae1836082d32.html" target="element"> STS-23: Secure service gateway (API gateway) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-12eb594b9e404e37a1e4a2a3f987e5b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-12eb594b9e404e37a1e4a2a3f987e5b2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd5f6ffb5a6c4514b3e187882c21db35.html" target="element"> STS-17: Web application firewall service </a> </td>
																		<td> <a href="../elements/id-1938b2e7504c402890c8ae1836082d32.html" target="element"> STS-23: Secure service gateway (API gateway) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-79d07c7c6c6c42298aa06faccc9ef296.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-79d07c7c6c6c42298aa06faccc9ef296.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-671fb17a7ecb432d8470ad2ef98b1682.html" target="element"> STS-21: Distributed denial of service protection service </a> </td>
																		<td> <a href="../elements/id-dd5f6ffb5a6c4514b3e187882c21db35.html" target="element"> STS-17: Web application firewall service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3a6a62696f584ee9a69670cf6c567f91.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a6a62696f584ee9a69670cf6c567f91.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1938b2e7504c402890c8ae1836082d32.html" target="element"> STS-23: Secure service gateway (API gateway) </a> </td>
																		<td> <a href="../elements/id-b794b771aa8f46afb7d43e99069d38ec.html" target="element"> STS-03: Identity provider service   </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>